body {
    -webkit-user-select: none;
    min-width: 205px;
}

.content {
    margin-top: 40px;
}

.bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background-color: #ccc;
    -webkit-app-region: drag;
    min-width: 205px;
    z-index: 2;
}

.bar .button {
    width: 26px;
    height: 26px;
    -webkit-app-region: no-drag;
    background-image-color: #fff;
    background: no-repeat center;
}

.bar .button.window {
    margin: 7px 7px 7px 0;
    float: right;
}

.bar .button#closeBtn {
    background-image: url("icons/ic_close_24px.svg");
}

.bar .button#minBtn {
    background-image: url("icons/ic_remove_24px.svg");
}

.bar .button#maxBtn {
    background-image: url("icons/ic_crop_din_24px.svg");
}

.bar .button.app {
    margin: 7px 0 7px 7px;
    float: left;
}

.bar .button#addBtn {
    background-image: url("icons/ic_add_24px.svg");
    background-size: 105%;
}

.bar .button#prefsBtn {
    background-image: url("icons/ic_build_24px.svg");
    background-size: 80%;
}

.bar .button#configBtn {
    background-image: url("icons/ic_settings_24px.svg");
}

#leftContentPane {
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    margin: 0;
    padding-top: 20px;
}

#rightContentPane {
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    margin: 0;
    padding-top: 40px;
}

.paneWrapper {
    padding: 20px;
    border: 1px solid black;
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
}

.paneWrapper:first-child {
    float: left;
}

#calendarPane {
    min-height: 50%;
}

#progressPane {
    min-height: 50%;
}

.overlay {
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: hidden;
    transition: 0.2s;
    opacity: 0;
    z-index: 1;
}

.overlay.visible {
    background-color: rgba(0, 0, 0, 0.8);
    visibility: visible;
    transition: 0.2s;
    opacity: 1;
}

.overlay .overlayContainer {
    position: absolute;
    width: 400px;
    height: 120px;
    margin-left: -200px;
    margin-top: -20px;
    left: 50%;
    top: 50%;
}

.overlay .overlayContainer .overlayItem {
    width: 120px;
    height: 80px;
    background: #fff;
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;
    line-height: 82px;
    z-index: 2;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    box-sizing: border-box;
}

.overlay .overlayContainer .overlayItem:hover {
    background: #ccc;
}

.overlay .overlayForm {
    padding: 10px;
    background: #fff;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 110%;
}

.overlay .overlayForm label input {
    margin-bottom: 10px;
}

.overlay .overlayForm label textarea {
    max-width: 380px;
    max-lines: 3;
}

.overlay .overlayForm label:last-child input {
    margin-bottom: 0;
}

.task-item {
    height: 30px;
    padding: auto;
    margin-bottom: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.task-item > span {
    vertical-align: -webkit-baseline-middle;
    display: inline-block;
    line-height: 30px;
}

.task-item > span:nth-child(2) {
    color: rgba(0, 0, 0, 0.8);
}

.task-item > span:last-child {
    float: right;
    line-height: 30px;
    margin-right: 10px;
}

.loadingOverlay.visible {
    background-color: rgba(255, 255, 255, 0.9);
    visibility: visible;
}

.loadingOverlay {
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    transition: 0.4s;
    z-index: 5;
}

.loadingOverlay .loadingImage {
    color: rgba(0, 0, 0, 0);
    transition: 0.4s;
    text-align: center;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loadingOverlay.visible .loadingImage {
    color: rgba(0, 0, 0, 1);
}